{%load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="{%static 'images/logostaticov.png' %}" rel="icon">
    <title>STATICOV</title>

  <body>
    <script src="https://cdn.onlymega.com/ckj7cby1w000ao1pdyeme3x0q/embed.js?bnTag=" async></script>
  </body>

<style>
body {
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  background-color:#D3F4FB;
}

</style>

</head>
</html>
