{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>STATICOV | Coronavirus COVID-19 Prevention & Informatics</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet"  href="{% static 'assets/css/styles-azure.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/bundle.css' %}">
    

</head>

<body class="nk-body" dir="rtl">

    <div class="nk-wrap">
        <header class="nk-header bg-light-grad-a has-overlay" id="home">
            <div class="overlay shape shape-line-a"></div><!-- Overlay Shape -->
            <div class="nk-navbar is-light is-sticky" id="navbar">
                <div class="container">
                    <div class="nk-navbar-wrap">
                        <div class="nk-navbar-logo logo">
                            <a href="./" class="logo-link">
                                <img class="logo-dark" src="{% static 'images/logostaticov.png' %}">
                                <img class="logo-light" src="{% static 'images/logostaticov.png' %}">
                            </a>
                        </div><!-- .nk-navbar-logo -->
                        <div class="nk-navbar-toggle d-lg-none">
                            <a href="#" class="toggle" data-menu-toggle="navbar-menu"><em class="icon-menu icon ni ni-menu"></em><em class="icon-close icon ni ni-cross"></em></a>
                        </div><!-- .nk-navbar-toggle -->
                        <nav class="nk-navbar-menu nk-navbar-menu-between" id="navbar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#symptoms">סימנים</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#spread">הדבקה</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#prevention">מה לעשות</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#protect">מותר &amp; אסור</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#faq">שאלות תשובות</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#about">לגבי הקורונה</a></li>
                                <li class="nk-menu-item"><a href="#" data-offcanvas-toggle="sidebar-info" class="btn btn-sm toggle-offcanvas"> נתונים </a>
                                    <ul class="nk-menu-dropdown nk-menu-sub">
                                        <li class="nk-menu-item"><a class="nav-link nk-menu-link" href="index.html">גרפים</a></li>
                                        <li class="nk-menu-item"><a class="nav-link nk-menu-link" href="index-v2.html">טבלאות</a></li>
                                        <li class="nk-menu-item"><a class="nav-link nk-menu-link" href="prevention.html">נתונים פשוטים</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nk-menu-btns">
                                <li class="nk-menu-item"><a href="#" data-offcanvas-toggle="sidebar-info" class="btn btn-sm toggle-offcanvas"> חולה חדש</a></li>
                            </ul>
                        </nav><!-- .nk-navbar-menu -->
                    </div><!-- .nk-navbar-wrap -->
                </div><!-- .container -->
            </div><!-- .nk-navbar -->
            <div class="nk-banner-s2">
                <div class="container">
                    <div class="row g-gs my-auto align-items-center justify-content-between">
                        <div class="col-lg-5 order-lg-last">
                            <div class="nk-banner-s2-image">
                                <img src="{% static 'images/gfx/header-b.png' %}" alt="">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-7">
                            <div class="nk-banner-s2-block pl-xl-5">
                                <div class="content">
                                    <h6 class="sub-title"><span class="badge badge-danger">Covid-19</span> <span>Coronavirus</span></h6>
                                    <h1 class="title">למנוע את התפשטות  <br class="d-none d-sm-block">  הישאר בבית, הישאר בטוח</h1>
                                    <p>הדרך הטובה ביותר למנוע והאטת העברה היא להיות מושכלת היטב לגבי נגיף ה- COVID-19. 
                                    הגן על עצמך ועל אחרים מפני זיהום 
                                    על ידי שטיפת הידיים לפחות 20 שניות ולא נגיעה בפניך. </p>
    
                                    <ul class="nk-banner-btns">
                                        <li><a href="#protect" class="btn scrollto"><span>איך שומרים</span><em class="icon ni ni-shield-half"></em></a></li>
                                        <li><a href="#about" class="btn btn-transparent scrollto"><span> נתוני </span><em class="icon ni ni-arrow-left"></em></a></li>
                                    </ul>
                                </div><!-- .content -->
                            </div><!-- .nk-banner-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="status">
                        <div class="row g-gs">
                            <div class="col-lg-6 col-xl-5" data-covid="world" data-covid-update="last-update">
                                <h6 class="status-title">Worldwide Statistics</h6>
                                <div class="row g-gs pl-4">
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-cases">~</div>
                                            <h6 class="title text-purple">Confirmed</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-death">~</div>
                                            <h6 class="title text-danger">Deaths</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-recovered">~</div>
                                            <h6 class="title text-success">Recovered</h6>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-xl-5" data-covid="US">
                                <h6 class="status-title">In United State</h6>
                                <div class="row g-gs pl-4">
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-cases">~</div>
                                            <h6 class="title text-purple">Confirmed</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-death">~</div>
                                            <h6 class="title text-danger">Deaths</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="status-item">
                                            <div class="h4 count covid-stats-recovered">~</div>
                                            <h6 class="title text-success">Recovered</h6>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="status-note">* Last updated: <span id="last-update" class="update-time">~</span></div>
                    </div><!-- .status -->
                </div><!-- .container -->
            </div><!-- .nk-banner -->
        </header><!-- .nk-header -->

        <main class="nk-pages">
            <section class="section section-l bg-light section-spread pb-0 ov-h has-overlay" id="spread">
                <div class="overlay bg-white h-40 bottom"></div><!-- Overlay Shape -->
                <div class="container">
                    <div class="section-head-s2 text-center wide-md">
                        <h5 class="subtitle">כיצד מתפשט וירוס הקורונה</h5>
                        <h2 class="title">שידור של  <br class="d-sm-none"> COVID-19</h2>
                        <p>מכיוון שמדובר במחלה חדשה, איננו יודעים כיצד התפשטות נגיף העטרה מאדם לאדם. נגיפים דומים מתפשטים בטיפות שיעול.</p>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-md-8 col-lg-4">
                                <div class="box box-alt">
                                    <div class="box-gfx">
                                        <img src="{% static 'images/gfx/spread-azure-a.png' %}" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">אדם לאדם התפשט כמגע קרוב עם נגועים </h4>
                                        <p>חושבים כי נגיף העטרה מתפשט בעיקר מאדם לאדם. זה יכול לקרות בין אנשים שנמצאים בקשר הדוק אחד עם השני.</p>
                                    </div>
                                </div><!-- .box -->
                            </div><!-- .col -->
                            <div class="col-md-8 col-lg-4">
                                <div class="box box-alt">
                                    <div class="box-gfx">
                                        <img src="{% static 'images/gfx/spread-azure-b.png' %}" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">מגע או מגע עם משטחים או חפצים נגועים</h4>
                                        <p>אדם יכול לקבל COVID-19 על ידי נגיעה במשטח או בחפץ שעליו הנגיף ואז נגיעה בפה, באף, או אולי בעיניים שלהם.</p>
                                    </div>
                                </div><!-- .box -->
                            </div><!-- .col -->
                            <div class="col-md-8 col-lg-4">
                                <div class="box box-alt">
                                    <div class="box-gfx">
                                        <img src="{% static 'images/gfx/spread-azure-c.png' %}" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">טיפות שמאדם נגוע משתעל או מתעטש</h4>
                                        <p>חושבים כי נגיף העטרה מתפשט בעיקר מאדם לאדם. זה יכול לקרות בין אנשים שנמצאים בקשר הדוק אחד עם השני/p>
                                    </div>
                                </div><!-- .box -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <ul class="section-actions">
                            <li><a href="#faq" class="btn scrollto"><em class="icon ni ni-question"></em><span>יש לך שאלה לגבי התפשטות?</span></a></li>
                        </ul><!-- .section-actions -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-white section-symptoms" id="symptoms">
                <div class="container">
                    <div class="section-head-s2 section-head-s2-sm">
                        <h5 class="subtitle">מהם הסימפטומים של  COVID-19?</h5>
                        <h2 class="title">תסמינים של וירוס הקורונה</h2>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs align-items-center">
                            <div class="col-lg-6 order-lg-last">
                                <div class="gfx2">
                                    <img src="{% static 'images/gfx/gfx-b.png' %}" alt="">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="text-block-s2">
                                    <p>התסמינים השכיחים ביותר של COVID-19 הם חום, עייפות ושיעול יבש. לחולים מסוימים יש כאבים, גודש באף, נזלת, כאב גרון או שלשולים. תסמינים אלה הם בדרך כלל קלים ומתחילים בהדרגה. כמו כן הסימפטומים עשויים להופיע 2-14 יום לאחר החשיפה.</p>
                                </div><!-- .section-head -->
                                <div class="row g-gs justify-content-center">
                                    <div class="col-12">
                                        <div class="box8">
                                            <div class="box8-gfx">
                                                <img src="{% static 'images/gfx/symptom-a.png' %}" alt="">
                                            </div>
                                            <div class="box8-content">
                                                <p><strong>חום גבוע </strong> – זה אומר שאתה מרגיש חם למגע בחזה או בגב (אינך צריך למדוד את הטמפרטורה שלך). זהו סימן נפוץ וגם עשוי להופיע בעוד 2-10 ימים אם השפיע. </p>
                                            </div>
                                        </div><!-- .box8 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box8">
                                            <div class="box8-gfx">
                                                <img src="{% static 'images/gfx/symptom-b.png' %}" alt="">
                                            </div>
                                            <div class="box8-content">
                                                <p><strong>שיעול מתמשך</strong>- המשמעות היא שיעול רב יותר משעה, או 3 פרקי שיעול או יותר תוך 24 שעות (אם בדרך כלל יש לך שיעול, זה עלול להיות גרוע מהרגיל).</p>
                                            </div>
                                        </div><!-- .box8 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box8">
                                            <div class="box8-gfx">
                                                <img src="{% static 'images/gfx/symptom-c.png' %}" alt="">
                                            </div>
                                            <div class="box8-content">
                                                <p><strong>קשיי נשימה</strong>- בסביבות 1 מכל 6 אנשים שחולים ב- COVID-19 חולים קשה ומתפתחים עם קשיי נשימה או קוצר נשימה.</p>
                                            </div>
                                        </div><!-- .box8 -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                    
                    <div class="section-cta section-cta-boxed bg-light">
                        <div class="row g-gs justify-content-center align-items-center">
                            <div class="col-md-8 col-lg-8">
                                <div class="notes">
                                    <em class="icon ni ni-alert-fill-c"></em>
                                    <p><strong>הישאר בבית והתקשר לרופא שלך:</strong>אם אתה חושב שנחשפת ל- COVID-19 ומפתחים חום ותופעות כלשהן, כגון קשיי קשיים או קשיי נשימה, התקשר לרופא המטפל בהקדם לייעוץ רפואי.</p>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-4 col-lg-4">
                                <div class="d-flex justify-content-md-end ml-sm-5 ml-4 pl-3 ml-md-0 pl-md-0">
                                    <a href="#" class="btn toggle-offcanvas" data-offcanvas-toggle="sidebar-info"><em class="icon ni ni-call-alt-fill"></em><span>צריכים עזרה ?</span></a>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-advice has-overlay" id="prevention">
                <div class="overlay shape shape-e"></div><!-- Overlay Shape -->
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs align-items-center">
                            <div class="col-lg-5">
                                <div class="gfx3">
                                    <img src="{% static 'images/gfx/gfx-c.png' %}" alt="">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <div class="section-head-s2">
                                    <h5 class="subtitle">איך לשמוך על עצמך</h5>
                                    <h2 class="title">מְנִיעָה &amp; עֵצָה</h2>
                                    <p>כרגע אין חיסון למניעת וירוס קורונה (COVID-19).<strong>הדרך הטובה ביותר למנוע מחלות היא להימנע מחשיפה לנגיף זה.</strong></p>
                                </div><!-- .section-head -->
                                <div class="row g-gs justify-content-center">
                                    <div class="col-12">
                                        <div class="box7">
                                            <div class="box7-gfx">
                                                <img src="{% static 'images/gfx/advice-a.png' %}" alt="">
                                            </div>
                                            <div class="box7-content">
                                                <h6 class="title">סבון ביד</h6>
                                                <P>נקו את הידיים באופן קבוע ויסודי בעזרת שפשוף ידני על בסיס אלכוהול או שטפו אותם עם מים וסבון למשך 20 שניות לפחות.</P>
                                            </div>
                                        </div><!-- .box7 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box7">
                                            <div class="box7-gfx">
                                                <img src="{% static 'images/gfx/advice-b.png' %}" alt="">
                                            </div>
                                            <div class="box7-content">
                                                <h6 class="title">שמרו על מרחק</h6>
                                                <P>שמור על מרחק של לפחות 2 מטר בינך לבין כל מי שמשתעל או מתעטש. אם אתה קרוב מדי, קבל הזדמנות להידבק.</P>
                                            </div>
                                        </div><!-- .box7 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box7">
                                            <div class="box7-gfx">
                                                <img src="{% static 'images/gfx/advice-c.png' %}" alt="">
                                            </div>
                                            <div class="box7-content">
                                                <h6 class="title">הימנע מלגעת בפנים</h6>
                                                <P>ידיים נוגעות במשטחים רבים ועלולות להרים נגיפים. אז הידיים יכולות להעביר את הנגיף לעיניים, לאף או לפה ועלולות לגרום לך לחלות.</P>
                                            </div>
                                        </div><!-- .box7 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box7">
                                            <div class="box7-gfx">
                                                <img src="{% static 'images/gfx/advice-d.png' %}" alt="">
                                            </div>
                                            <div class="box7-content">
                                                <h6 class="title">תרגול היגיינת נשימה</h6>
                                                <P>שמור על היגיינת נשימה טובה כמכסה את הפה והאף במרפק או ברקמה הכפופה בעת שיעול או עיטוש.</P>
                                            </div>
                                        </div><!-- .box7 -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                                <ul class="section-actions justify-content-start">
                                    <li><a href="#handwash" class="btn scrollto"><span>בדוק איך אתה רוחץ יד</span><em class="icon ni ni-arrow-long-left"></em></a></li>
                                    <li><a href="#faq" class="btn btn-transparent scrollto"><span>שאלות תשובות</span><em class="icon ni ni-arrow-long-left"></em></a></li>
                                </ul><!-- .section-actions -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-handwash pb-0 ov-h" id="handwash">
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-between">
                            <div class="col-lg-5 align-self-end order-lg-last">
                                <div class="gfx4">
                                    <img src="{% static 'images/gfx/gfx-d.png' %}" alt="">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="section-head-s2 text-center text-lg-right">
                                    <h5 class="subtitle">שטפו את הידיים לעתים קרובות</h5>
                                    <h3 class="title">הגן על עצמך, שטוף ידיים</h3>
                                    <p>נקו את הידיים באופן קבוע וביסודיות בעזרת שפשוף ידני על בסיס אלכוהול או שטפו אותם במים וסבון מכיוון שהוא הורג וירוסים שעשויים להיות על הידיים.</p>
                                </div><!-- .section-head -->
                                <div class="row g-gs justify-content-center mr-lg-n5 pr-lg-3 pr-xl-2">
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-a.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">סבון ביד</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-b.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">דקל לדקל</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-c.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">בין אצבעות</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-d.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">בחזרה לידיים</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-e.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">נקו במים</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                    <div class="col-6 col-mb-5 col-sm-4">
                                        <div class="box4 box4-alt">
                                            <div class="box4-gfx">
                                                <img src="{% static 'images/gfx/hand-f.png' %}" alt="">
                                            </div>
                                            <div class="box4-content">
                                                <h6 class="title">התמקדו בשורש כף היד</h6>
                                            </div>
                                        </div><!-- .box4 -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                                <ul class="section-actions justify-content-lg-start">
                                    <li><a href="https://www.youtube.com/watch?v=1APwq1df6Mw" class="btn video-popup"><span>סרטון הדרכה</span><em class="icon ni ni-play-circle-fill"></em></a></li>
                                </ul>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-protect has-overlay" id="protect">
                <div class="overlay shape shape-d"></div><!-- Overlay Shape -->
                <div class="container">
                    <div class="section-head-s2 text-center wide-lg">
                        <h5 class="subtitle">צותר &amp; אסור</h5>
                        <h2 class="title">הגן על עצמך </h2>
                        <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד תוכל להתאים את שגרת יומך. נקט כמה צעדים בכדי להגן על עצמך כיוון שניקוי הידיים לעיתים קרובות, הימנע ממגע קרוב, מכסה שיעולים והתעטשויות, מנקה משטחים בשימוש יומיומי וכו '. הדרך הטובה ביותר למנוע מחלות היא הימנעות מחשיפה לנגיף זה.</p>
                    </div><!-- .section-head -->
                    <div class="section-content px-lg-5 mx-lg-4">
                        <div class="row g-gs gx-m justify-content-center">
                            <div class="col-lg-6">
                                <div class="row g-gs">
                                    <div class="col-12">
                                        <div class="box6 positive">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/dos-a.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">שטוף את הידיים</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box6 positive">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/dos-b.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">שתו הרבה מים</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box6 positive">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/dos-c.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">השתמש במסכת פנים</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="row g-gs">
                                    <div class="col-12">
                                        <div class="box6 negative">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/donts-a.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">הימנע ממגע קרוב</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box6 negative">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/donts-b.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">אל תיגע בפנים</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                    <div class="col-12">
                                        <div class="box6 negative">
                                            <div class="box6-gfx">
                                                <img src="{% static 'images/gfx/donts-c.png' %}" alt="">
                                            </div>
                                            <div class="box6-text">
                                                <h6 class="title">מרחק</h6>
                                                <p>הדבר הטוב ביותר שאתה יכול לעשות עכשיו הוא לתכנן כיצד.</p>
                                            </div>
                                        </div><!-- .box6 -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-contact" id="contact">
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-between">
                            <div class="col-lg-5">
                                <div class="section-head-s2">
                                    <h5 class="subtitle">חולה חדש? </h5>
                                    <h3 class="title title-sm">שאלה לגבי COVID-19?</h3>
                                    <p>אם יש לך שאילתות כלשהן לגבי וירוס כורון או שיש לך דאגה לבריאות, אתה יכול ליצור קשר באמצעות שלנו <strong><span>101</span></strong> או מספר איש קשר לחירום. ניתן ליצור קשר גם באמצעות הגשת טופס.</p>
                                </div>
                                <div class="contact-info">
                                    <div class="contact-emergency">
                                        <h6 class="contact-emergency-title"><span class="badge badge-danger">חירום</span> <span>אל תחכה</span></h6>
                                        <div class="h3 contact-emergency-number">101</div>
                                    </div>
                                    <div class="contact-details">
                                        <h6 class="contact-details-title">24x7 Medical Help:</h6>
                                        <ul class="contact-details-list">
                                        
                                            <li>
                                                <span>משחד הקורונה</span><span>0584080792</span>
                                            </li>
                                            <li>
                                                <span>Email</span><span>info@staticov.com</span>
                                            </li>
                                        </ul>
                                     </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <div class="contact-form contact-form-boxed bg-white">
                                    <h3 class="contact-form-title">חולה חדש נע להזין פרטים מחזור אלייך</h3>
                                    <form class="nk-form-submit" action="form/contact.php" method="post">
                                        <div class="form-results"></div>
                                        <div class="row g-s">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input placeholder="שם" name="contact-name" type="text" class="form-control required">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="אימייל" name="contact-email" type="email" class="form-control email required">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="מספר פלפון" name="contact-phone" type="text" class="form-control required">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    <label class="form-label" for="contact-symptom">You have any symptoms?</label>
                                                    <div class="form-control-select">
                                                        <select id="contact-symptom" name="contact-symptom" class="form-control">
                                                            <option selected>יש לך סימנים ?</option>
                                                            <option>כן כמה</option>
                                                            <option>כן, אחד</option>
                                                            <option>לא</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="form-label" for="contact-age">גיל</label>
                                                    <div class="form-control-select">
                                                        <select id="contact-age" name="contact-age" class="form-control">
                                                            <option selected>30-39 </option>
                                                            <option>68+ </option>
                                                            <option>56-68 </option>
                                                            <option>40-55 </option>
                                                            <option>20-29 </option>
                                                            <option>00-19 </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                                <button type="submit" class="btn btn-primary"><span>לשלוח</span><em class="icon ni ni-send-alt"></em></button>
                                            </div>
                                            <div class="col-sm-8 align-self-center text-sm-right">
                                                <div class="form-text">אתה מסכים למדיניות הפרטיות שלנו בהגשת הטופס.</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-m bg-accent tc-light section-call-to-action" id="cta">
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-between align-items-center">
                            <div class="col-lg-9">
                                <div class="cta-content-block">
                                    <div class="cta-content-icon">
                                        <em class="icon ni ni-help-alt"></em>
                                    </div>
                                    <div class="cta-content-text">
                                        <p><strong>הישאר בבית והתקשר לרופא שלך:</strong>  אם אתה חושב שנחשפת ל- COVID-19 ומפתחים חום ותופעות כלשהן, כגון שיעול או קשיי נשימה, התקשר לרופא המטפל לקבלת ייעוץ רפואי. </p>
                                    </div>
                                </div><!-- .text-block -->
                            </div><!-- .col -->
                            <div class="col-lg offset-sm-1 offset-lg-0">
                                <div class="cta-content-action d-flex pl-lg-0 pl-md-1 pl-sm-3 pl-5 ml-sm-0 ml-3">
                                    <a href="#" class="btn btn-white ml-lg-auto toggle-offcanvas" data-offcanvas-toggle="sidebar-info"><em class="icon ni ni-call-alt-fill"></em><span>צריכים עזרה ?</span></a>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
        </main><!-- .nk-pages -->

	<!-- JavaScript -->
	<script src="{% static 'assets/js/bundle.js' %}"></script>
	<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
