{% load static %}  
<head>
<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link href="{%static 'images/logostaticov.png' %}" rel="icon">
<title>מדיניות הפרטיות</title>
</head>

<body>
    <script src="https://cdn.onlymega.com/ckj9tpsn7000agmpdg4qciz07/embed.js?bnTag=" async></script>
</body>

<style>
    body {
    margin: auto;
    padding: 70px 540px;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    background: #d3f4fb;
    text-align: center;
    align-items: center;
}
</style>
