{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{%static 'admindesign/img/logostaticov.png' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{%static 'rating_design/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'rating_design/font-awesome/css/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{%static 'rating_design/js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'rating_design/bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">

<!-- Rating - START -->
<div class="container" id="container1">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">דירוג האתר<span class="glyphicon glyphicon-saved pull-right"></span></h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <img src="{%static 'admindesign/img/logostaticov.png' %}" width="68" height="70" style="vertical-align:right;margin:10px 77px">
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">תוכן האתר</div>
                        <div class="rating" id="rate1"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">עיצוב</div>
                        <div class="rating" id="rate2"></div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">חווית המשתמש</div>
                        <div class="rating" id="rate3"></div>
                    </div>
                    <br>
                </li>
            </ul>
            <div class="panel-footer text-center">
                <button  href="/Staticov/index" type="button" class="btn btn-primary btn-lg btn-block" onclick="myFunction()">שליחה</button>
                </button>
                
            </div>
        </div>
    </div>
</div>


<script>
function myFunction() {
  alert("תודה !");
}
</script>
<style>
    #container1 {
        margin-bottom: 120px;
        padding:20px;
        background-color:#F2F6FF;
    }

    .rating {
        margin-left: 30px;
    }

    div.skill {
        background: #5cb85c;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        padding: 3px 4px;
        width: 70px;
    }

    .skillLine {
        display: inline-block;
        width: 100%;
        min-height: 90px;
        padding: 3px 4px;
    }

    skillLineDefault {
        padding: 3px 4px;
    }
</style>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    initializeRatings();

    function initializeRatings() {
        $('#rate1').shieldRating({
            max: 7,
            step: 0.1,
            value: 6.3,
            markPreset: false
        });
        $('#rate2').shieldRating({
            max: 7,
            step: 0.1,
            value: 6,
            markPreset: false
        });
        $('#rate3').shieldRating({
            max: 7,
            step: 0.1,
            value: 4.5,
            markPreset: false
        });
        $('#rate4').shieldRating({
            max: 7,
            step: 0.1,
            value: 5,
            markPreset: false
        });
    }
</script>

<!-- Rating - END -->

</div>

</body>
</html>